:root{
    --primary: #70243A;
    --secondary: #DEA47E;
    --bg-primary: #F8F2DC;
    --contrast: #81ADC8;
    --contrast-dark: #0E9594
}

.div-icon{
    display: block;
    text-align: center;
}

.map-marker{
    position: absolute;
    top: 0rem;
    transform-origin: center calc(100%);
    color: var(--primary);
    background-color: var(--bg-primary);
    padding: 0.3em;
    border: 0.2em solid #70243A;
    border-radius: 99px;
    transform: translate3d(-50%, -50%, 0);
}

.map-marker-full{
    min-width: 2em;
    text-align: center;
    white-space: nowrap;
    font-weight: 1000;
    font-size: 0.9rem;
    line-height: 1em;
}

.map-marker-mini *{
    display: none;
}

.map-marker-icon{
    margin-left: 0;
}
/* .map-marker:before {
    content: "";
    position: absolute;
    bottom: -0.4rem;
    left: 50%;
    width: .5rem;
    height: .5rem;
    transform: translate3d(-50%, 0, 0) scaleX(.8) rotate(45deg);
    border-right: inherit;
    border-bottom: inherit;
    border-bottom-right-radius: .3rem;
    background-color: inherit;
} */